@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

  .table {
   
    table-layout: auto;
    border-collapse: collapse;
    background-color: #fff0e5;
    overflow-y:scroll;
    overflow-x:scroll;
    margin:0px;
       padding: 0px;
       height:90vh;
       width: 100vw;
       background:center/cover no-repeat url("../wms.jpeg") ;
  }

  
  .table th, .table td {
    border: 3px solid black;
    
    color:rgb(15, 5, 5);
    font-family: "IBM Plex Sans", sans-serif;
  
  }
  .table td{
    font-weight: 700;
  }
  
  .table th {
    background-color:  rgb(15, 5, 5);
    color:  #fff0e5;
    text-align: left;
    font-weight: 900;
    text-transform: uppercase;
  }

  *{
      margin: 0px;
      padding: 0px;
  }header{
    width: 100vw;
    display: flex;
    background-color: #fff0e5;
  }
  .logopart{
    display: flex;
    flex-direction: row;
    color: rgb(15, 5, 5);
    list-style: none;
    justify-content: left;
    align-items: center;
    margin :auto auto auto 50px;
    font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
  width: 50vw;
      
  }
  .logo{
    height: 90px;
    display: block;
    width: 13%;
  }
  .comp{
    font-size: 33px;
    margin :0px 0px 0px 36px;
    width: 26%;
    text-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .nav{
    color: rgb(15,5,5);
    display: flex;
    flex-direction: row;
     justify-content: right;
     align-items: center;
     margin-left: 15%;
     margin-right: 2%;
     width: 50vw;
  }
  ul{
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    list-style: none;
    font-size: 26px;
    font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
  width: 33vw !important;
  
     
  }
  ul>div{
    height: 40px;
    width: 130px;
    border: solid 2px  #fff0e5;
    border-radius:9px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff0e5;
    margin-left: 2%;
    margin-right: 3%
  }
  ul>div:hover{
      color:#f37e20;
      border: solid 2px  #f37e20;
      background-color: white;
      cursor: pointer;
     
  }
  ul li{
    text-wrap:nowrap;
  }
  footer{
    background-color:  #fff0e5;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgb(15,5,5) ;
    font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
    font-size: 28px;
    
  }
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
       margin:0px;
       padding: 0px;
       height:90vh;
       width: 100vw;
      background:center/cover no-repeat url("../wms.jpeg") ;
      
  }
  .txt{
      font-size: 30px;
      display: flex;
     
      align-items: center;
      margin-bottom: 1%;
   
      font-family: "IBM Plex Sans", sans-serif;
    font-weight: 550;
    font-style: italic;
    text-align: center;
  }
  
  @media  (max-width:850px) and (min-width:581px){
    header{
      height: 35vh !important;
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   .logopart{
       display: flex !important;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       margin: 0px;
       padding: 0px;
       height: 50%;
       width: 100vw;
  
   }
   .nav{
       height: 50%;
       margin:0px;
       width:100vw;
      display: flex;
      align-items: center !important;
      justify-content: center !important;
      text-wrap: nowrap;
     
   }
   .logo{
       width: 22%;
       display: flex !important;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       height:98%
   }
 
  
   .comp{
       text-wrap: nowrap;
       display: flex !important;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       margin: 0px;
       
   }
   
   ul{
       display: flex !important;
       flex-direction: row;
       justify-content: center ;
       justify-items: center;
       align-items: center ;
       margin: auto;
       text-align: center;
       width: 80vw !important;
       margin: 0px;
   } 
   li{
       display: flex !important;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       margin: auto;
       text-align: center;
       width: auto;
   }
   .container{
    display: flex;
    flex-direction: column;
    justify-content:top!important;
    align-items: center!important;
    width: 100vw;
    height: 155vh;
   }

  .txt{
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    margin-top: 2%;
    font-family: "IBM Plex Sans", sans-serif;
  font-weight: 550;
  font-style: italic;
  text-align: center;
  }
  
   footer{
       height: 20vh;
       text-wrap:balance;
       text-align: center;
   }
  }
 
  @media screen and (width:580px) {
    header{
      height: 30% !important;
      display: flex !important;
      flex-direction: column !important;
  }
  .logopart{
      height: 30%;
      display: flex;
      flex-direction: column;
      align-self: center !important;
      justify-content: center !important;
      
  }
  .logo{
      display: flex;
      align-items: center !important;
      justify-content: center !important;
      width: 50%;
      height: 50%;
      margin-left: 68%;
     
      
  }
  .comp{
      display: flex;
      align-items: center !important;
      justify-content: center  !important;
      text-align: center;
      width: 50%;
      height: 50%;
      margin-left: 68%;
     
      
      
  }
  .nav{
      height: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      
  }
  ul{
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      flex-direction: column !important;
     margin-left: 46%;
     
  }
  .container{
    display: flex;
          flex-direction: column;
          height: 80%;
          width: 100vw;
  }
  
  .txt{
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    margin-top: 2%;
    font-family: "IBM Plex Sans", sans-serif;
  font-weight: 550;
  font-style: italic;
  text-align: center;
  }
  footer{
    display: flex;
    height: 90%;
     text-wrap:balance;
     text-align: center;
     justify-content:center;
     align-items: end;
     font-size:20px ;
     background-color:  #fff0e5;
  }}
  
  @media screen and (max-width:579px) {
    header{
      width: 100vw;
        height: 30% !important;
        display: flex !important;
        flex-direction: column !important;
    }
    .logopart{
        height: 30%;
        display: flex;
        flex-direction: column;
        align-self: center !important;
        justify-content: center !important;
        
    }
    .logo{
        display: flex;
        align-items: center !important;
        justify-content: center !important;
        width: 50%;
        height: 50%;
        margin-left: 46%;
       
        
    }
    .comp{
        display: flex;
        align-items: center !important;
        justify-content: center  !important;
        text-align: center;
        width: 50%;
        height: 50%;
        margin-left: 53%;
          
    }
    .nav{
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }
    ul{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        flex-direction: column !important;
       margin-left: 46%;
       
    }
   
  
   
    footer{
       display: flex;
       height: 90%;
       width: 100vw;
        text-wrap:balance;
        text-align: center;
        justify-content:center;
        align-items: end;
        font-size:20px ;
        background-color:  #fff0e5;
    }
    .container{
      display: flex;
            flex-direction: column;
            justify-content:top;
            height: 140vh;
            width: 100vw;
    }
table{
  width: 100vw !important;
}
    .txt{
      font-size: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1%;
      margin-top: 2%;
      font-family: "IBM Plex Sans", sans-serif;
    font-weight: 550;
    font-style: italic;
    text-align: center;
    }
  
 
  
  }
  @media (max-width:1200px) and (min-width:840px){
    .container{
      display: flex;
      flex-direction: column;
      justify-content:top!important;
      align-items: center!important;
      width: 100vw;
      height: 155vh;
     }
     
      
  
  
      .txt{
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1%;
        margin-top: 2%;
        font-family: "IBM Plex Sans", sans-serif;
      font-weight: 550;
      font-style: italic;
      text-align: center;
      }
      
  }
  
    