@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin: 0px;
    padding: 0px;
}header{
    width: vw;
    display: flex;
    background-color: #fff0e5;}
.logopart{
      display: flex;
      flex-direction: row;
      color: rgb(15, 5, 5);
      list-style: none;
      justify-content: left;
      align-items: center;
      margin :auto auto auto 50px;
      font-family: "IBM Plex Sans", sans-serif;
    font-weight: 600;
    font-style: italic;
    width: 50vw;
  
  }
  .logo{
    height: 90px;
    display: block;
    width: 13%;
}
.comp{
  font-size: 33px;
  margin :0px 0px 0px 36px;
  width: 26%;
  text-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.nav{
  color: rgb(15,5,5);
  display: flex;
  flex-direction: row;
   justify-content: right;
   align-items: center;
   margin-left: 15%;
   margin-right: 2%;
   width: 50vw;
}
.con{
  background-color: #fff0e5;
  margin-top: 1%;
  margin-bottom:1%;
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 1%;
  padding-right: 1%;
  font-size: 3vh;
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: italic;
  height: 18%;
  width: 92%;
  font-weight: 800;
}
.con1{
  background-color: #fff0e5;
  margin-top: 1%;
  margin-bottom:1%;
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 1%;
  padding-right: 1%;
  font-size: 3vh;
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: italic;
  height: 27%;
  width: 92%;
  font-weight: 800;
}
.h2{
  text-align: top;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 4vh;
  font-weight: 800;
  display: flex;
  justify-content: top;
  align-items: top;
  
}
ul{
   display: flex;
   flex-direction: row;
   justify-content: right;
   align-items: center;
   list-style: none;
   font-size: 26px;
   font-family: "IBM Plex Sans", sans-serif;
 font-weight: 600;
 font-style: italic;
 width: 33vw !important;
 
}
ul>div{
   height: 40px;
   width: 130px;
   border: solid 2px  #fff0e5;
   border-radius:9px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #fff0e5;
   margin-left: 2%;
   margin-right: 3%}
ul>div:hover{
   color:#f37e20;
   border: solid 2px  #f37e20;
   background-color: white;
   cursor: pointer;
  
}
ul li{
   text-wrap:nowrap
}
footer{
  background-color:  #fff0e5;
  width: vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgb(15,5,5) ;
  font-family: "IBM Plex Sans", sans-serif;
font-weight: 600;
font-style: italic;
  font-size: 28px;
  
}
ul.data1{
  background-color: #fff0e5;
  margin-top: 1.5%;
  margin-bottom: 1%;
  margin-left: 2%;
  margin-right: 2%;
  padding-left: 1%;
  padding-right: 1%;
  font-size: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  font-family: "IBM Plex Sans", sans-serif;
  font-style: italic;
  height: 25%;
  width: 92%;
  font-weight: 800;
}
.container{
   
  display: flex;
  flex-direction: column;
     margin:0px;
     padding: 0px;
     height:90vh;
     width: 100vw;
    background:center/cover no-repeat url("../wms.jpeg") ;
  
    
}
  
@media  (max-width:850px) and (min-width:581px){
  header{
    height: 35vh !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .logopart{
     display: flex !important;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     margin: 0px;
     padding: 0px;
     height: 50%;
     width: 100vw;

 }
 .nav{
     height: 50%;
     margin:0px;
     width:100vw;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    text-wrap: nowrap;
   
 }
 .logo{
     width: 22%;
     display: flex !important;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     height:98%
 }

 .comp{
     text-wrap: nowrap;
     display: flex !important;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     margin: 0px;
     
 }
 
 ul{
     display: flex !important;
     flex-direction: row;
     justify-content: center ;
     justify-items: center;
     align-items: center ;
     margin: auto;
     text-align: center;
     width: 80vw !important;
     margin: 0px;
 } 
 li{
     display: flex !important;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     margin: auto;
     text-align: center;
     width: auto;
 }
 .container{
  display: flex;
  flex-direction: column;
  justify-content:top!important;
  align-items: center!important;
  width: 100vw;
  height: 155vh;
 }

 footer{
     height: 20vh;
     text-wrap:balance;
     text-align: center;
 }
}
@media screen and (width:580px) {
  header{
    height: 30% !important;
    display: flex !important;
    flex-direction: column !important;
}
.logopart{
    height: 30%;
    display: flex;
    flex-direction: column;
    align-self: center !important;
    justify-content: center !important;
    
}
.logo{
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    width: 50%;
    height: 50%;
    margin-left: 68%;
   
    
}
.comp{
    display: flex;
    align-items: center !important;
    justify-content: center  !important;
    text-align: center;
    width: 50%;
    height: 50%;
    margin-left: 68%;
   
    
    
}
.nav{
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
ul{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: column !important;
   margin-left: 46%;
   
}
.container{
  display: flex;
        flex-direction: column;
        height: 80%;
        width: 100vw;
}

footer{
  display: flex;
  height: 90%;
   text-wrap:balance;
   text-align: center;
   justify-content:center;
   align-items: end;
   font-size:20px ;
   background-color:  #fff0e5;
}}

@media screen and (max-width:579px) {
  header{
      height: 30% !important;
      display: flex !important;
      flex-direction: column !important;
  }
  .logopart{
      height: 30%;
      display: flex;
      flex-direction: column;
      align-self: center !important;
      justify-content: center !important;
      
  }
  .logo{
      display: flex;
      align-items: center !important;
      justify-content: center !important;
      width: 50%;
      height: 50%;
      margin-left: 46%;
     
      
  }
  .comp{
      display: flex;
      align-items: center !important;
      justify-content: center  !important;
      text-align: center;
      width: 50%;
      height: 50%;
      margin-left: 53%;
        
  }
  .nav{
      height: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      
  }
  .con{
    height:15% ;
  }
  .con1{
    height: 25%;
    
  }
 ul.data1{
  display: flex !important;
  flex-direction: column !important;
  width: 70% !important;
  margin:12px ;
 }
  ul.data1>li{
   
    display: flex;
    flex-direction: row;
    text-wrap: wrap;
   
  }
  ul{
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      flex-direction: column !important;
     margin-left: 46%;
     
  }

  footer{
     display: flex;
     height: 90%;
      text-wrap:balance;
      text-align: center;
      justify-content:center;
      align-items: end;
      font-size:20px ;
      background-color:  #fff0e5;
  }
  .container{
    display: flex;
          flex-direction: column;
          justify-content:top;
          height: 140vh;
          width: 100vw;
  }
}
@media (max-width:1200px) and (min-width:840px){
  .container{
    display: flex;
    flex-direction: column;
    justify-content:top!important;
    align-items: center!important;
    width: 100vw;
    height: 155vh;
   }
  
 
}